<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scenes</key>
	<dict>
		<key>Kitchen</key>
		<array>
			<dict>
				<key>category</key>
				<array>
					<string>drink</string>
					<string>food item</string>
				</array>
				<key>position</key>
				<array>
					<string>{210,175}</string>
				</array>
				<key>englishName</key>
				<string>juice</string>
				<key>spanishName</key>
				<string>jugo</string>
				<key>spanishGender</key>
				<string>m</string>
				<key>spanishPlural</key>
				<string>jugos</string>
				<key>color</key>
				<array>
					<string>yellow</string>
					<string>white</string>
					<string>orange</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>food item</string>
				</array>
				<key>position</key>
				<array>
					<string>{450,85}</string>
				</array>
				<key>englishName</key>
				<string>cake</string>
				<key>spanishName</key>
				<string>lente</string>
				<key>spanishGender</key>
				<string>m</string>
				<key>spanishPlural</key>
				<string>lentes</string>
				<key>color</key>
				<array>
					<string>brown</string>
					<string>red</string>
					<string>white</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>electronic device</string>
				</array>
				<key>position</key>
				<array>
					<string>{360,250}</string>
				</array>
				<key>englishName</key>
				<string>clock</string>
				<key>spanishName</key>
				<string>reloj</string>
				<key>spanishGender</key>
				<string>m</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>brown</string>
					<string>white</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>food item</string>
				</array>
				<key>position</key>
				<array>
					<string>{325,160}</string>
				</array>
				<key>englishName</key>
				<string>orange</string>
				<key>spanishName</key>
				<string>naranja</string>
				<key>spanishGender</key>
				<string>f</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>orange</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>electronic device</string>
				</array>
				<key>position</key>
				<array>
					<string>{420,205}</string>
				</array>
				<key>englishName</key>
				<string>toaster</string>
				<key>spanishName</key>
				<string>toastadora</string>
				<key>spanishGender</key>
				<string>f</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>black</string>
					<string>grey</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>electronic device</string>
				</array>
				<key>position</key>
				<array>
					<string>{255,225}</string>
				</array>
				<key>englishName</key>
				<string>computer</string>
				<key>spanishName</key>
				<string>computadora</string>
				<key>spanishGender</key>
				<string>f</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>black</string>
					<string>grey</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>food item</string>
				</array>
				<key>position</key>
				<array>
					<string>{225,135}</string>
				</array>
				<key>englishName</key>
				<string>pizzaSlice</string>
				<key>spanishName</key>
				<string>pizza</string>
				<key>spanishGender</key>
				<string>f</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>brown</string>
					<string>red</string>
					<string>yellow</string>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<array>
					<string>food item</string>
				</array>
				<key>position</key>
				<array>
					<string>{520,100}</string>
				</array>
				<key>englishName</key>
				<string>breakfast</string>
				<key>spanishName</key>
				<string>desayuno</string>
				<key>spanishGender</key>
				<string>m</string>
				<key>spanishPlural</key>
				<string></string>
				<key>color</key>
				<array>
					<string>white</string>
					<string>black</string>
					<string>brown</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
